pipeline/PL_LOAD_STG_XML_CSV.json
{
	"name": "PL_LOAD_STG_XML_CSV",
	"properties": {
		"activities": [
			{
				"name": "Get Child Items of LandingZone",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "landingzone_folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings",
						"skipLineCount": 0
					}
				}
			},
			{
				"name": "Loop thru each file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Child Items of LandingZone",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Child Items of LandingZone').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Check file type is csv",
							"description": "",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set variable FileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(split(item().name,'.')[1],'csv')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Execute PL_LOAD_STG_CSV",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "PL_LOAD_STG_CSV",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"pFileName": {
													"value": "@variables('vFileName')",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						},
						{
							"name": "Set variable FileName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "vFileName",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Check file type is xml",
							"description": "",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set variable FileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(split(item().name,'.')[1],'xml')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Execute PL_LOAD_STG_XML",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "PL_LOAD_STG_XML",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"FileName": {
													"value": "@variables('vFileName')",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "LandingZone folder is empty",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Get Child Items of LandingZone",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			}
		],
		"variables": {
			"vFileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DWH"
		},
		"annotations": [],
		"lastPublishTime": "2023-09-02T13:54:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}