pipeline/PL_MAIN_BASE_ENRICHED.json
{
	"name": "PL_MAIN_BASE_ENRICHED",
	"properties": {
		"activities": [
			{
				"name": "NB_LOAD_BASE_SQL",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/NB_LOAD_BASE",
					"baseParameters": {
						"containerName": "sales",
						"storageAccount": "azstoragepcu",
						"fileType": "sql"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "NB_LOAD_ENRICHED",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "NB_LOAD_BASE_SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Loop thru each file",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Shared/NB_LOAD_ENRICHED",
					"baseParameters": {
						"containerName": "sales",
						"storageAccount": "azstoragepcu",
						"fileType": "xml"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Get Child Items of LandingZone",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "landingzone_folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings",
						"skipLineCount": 0
					}
				}
			},
			{
				"name": "Loop thru each file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Child Items of LandingZone",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Child Items of LandingZone').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Check file type is csv",
							"description": "",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set variable FileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(split(item().name,'.')[1],'csv')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "NB_LOAD_BASE_CSV",
										"type": "DatabricksNotebook",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"notebookPath": "/Shared/NB_LOAD_BASE",
											"baseParameters": {
												"containerName": "sales",
												"storageAccount": "azstoragepcu",
												"fileType": "csv",
												"fileName": {
													"value": "@variables('vFileName')",
													"type": "Expression"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureDatabricks",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "Set variable FileName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "vFileName",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Check file type is xml",
							"description": "",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set variable FileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(split(item().name,'.')[1],'xml')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "NB_LOAD_BASE_XML",
										"type": "DatabricksNotebook",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"notebookPath": "/Shared/NB_LOAD_BASE",
											"baseParameters": {
												"containerName": "sales",
												"storageAccount": "azstoragepcu",
												"fileType": "xml",
												"fileName": {
													"value": "@variables('vFileName')",
													"type": "Expression"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AzureDatabricks",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "LandingZone folder is empty",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Get Child Items of LandingZone",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			}
		],
		"variables": {
			"vFileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DLH"
		},
		"annotations": [],
		"lastPublishTime": "2023-09-02T14:44:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}