pipeline/PL_MOVE_LZ_TO_ARCHIVE.json
{
	"name": "PL_MOVE_LZ_TO_ARCHIVE",
	"properties": {
		"activities": [
			{
				"name": "Move CSV LZ to Archive",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set current timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "landingzone_folder",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "archive_folder",
						"type": "DatasetReference",
						"parameters": {
							"timestamp": {
								"value": "@variables('currentTimestamp')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set current timestamp",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "currentTimestamp",
					"value": {
						"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Move XML LZ to Archive",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set current timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.xml",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "landingzone_folder",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "archive_folder",
						"type": "DatasetReference",
						"parameters": {
							"timestamp": {
								"value": "@variables('currentTimestamp')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Delete CSV",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Move CSV LZ to Archive",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "landingzone_folder",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*.csv",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Delete XML",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Move XML LZ to Archive",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "landingzone_folder",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*.xml",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Move SQL Src to Archive",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set current timestamp",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM src.sales_sql;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sql_source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "archive_folder",
						"type": "DatasetReference",
						"parameters": {
							"timestamp": {
								"value": "@variables('currentTimestamp')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"currentTimestamp": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DWH"
		},
		"annotations": [],
		"lastPublishTime": "2023-09-02T18:08:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}